<div class="card bg-light">
  <img hidden class="card-img-top" src="..." alt="Card image cap">
        
  <div class="card-body text-center ">
    <h5 class="card-title"><%= "#{@food.name} [#{@food.quantity}]" %></h5>
    <p class="card-text"><%= @food.description %></p>
    <p class="card-text"><%= "Good thru: #{@food.spoilage}" %></p>
    <div class="btn-group gap-3">
      <%= button_to "Edit this food", "/foods/#{@food.id}/edit", method: :get, :class => "btn btn-warning"%>
      <%= button_to "Remove this food from list", "/foods/#{@food.id}", method: :delete, :class => "btn btn-danger"%>
      <div class="w-100"></div>
      <%= button_to "Add 1 unit", "/foods/#{@food.id}/add_1", method: :get, :class => "btn btn-info"%>
      <%= button_to "Remove 1 unit", "/foods/#{@food.id}/remove_1", method: :get, :class => "btn btn-secondary"%>
    </div>
    <div class="card-footer text-muted"> <%="Created at: #{@food.created_at} | Updated at#{@food.updated_at}"%> </div>
  </div>
</div>