<div class="card bg-light">
  <div class="card-header text-muted"> <%="Created at: #{@food.created_at} | Updated at: #{@food.updated_at}"%> </div>
  <img hidden class="card-img-top" src="..." alt="Card image cap">
        
  <div class="card-body text-center ">
    <div id="card-title" class="card-title text-center">
      <%= button_to "+", "/foods/#{@food.id}/add_1", method: :get, :class => "btn btn-primary pull-left btn-xl ", form: {style: 'display:inline-block;'}%>
      <span> <%= "#{@food.name} [#{@food.quantity}]" %> </span>
      <%= button_to "-", "/foods/#{@food.id}/remove_1", method: :get, :class => "btn btn-danger pull-right btn-xl", form: {style: 'display:inline-block;'}%>
    </div>
    <p class="card-text"><%= @food.description %></p>
    <p class="card-text"><%= "Good thru: #{@food.spoilage}" %></p>
    <%= form_with url: "/foods/#{@food.id}/add", html: {class: "row gy-2 gx-3 align-items-center d-flex justify-content-center align-items-center container  "} do |form|%>
        <div class="col-auto text-center">
          <%= form.label :add, "Add units"  %>
          <%= form.number_field :add, :class=>'input form-control', placeholder: "0", type: "number", step: "0.1" %>
        </div>
        <div class="col-auto text-center">
          <%= form.label :remove, "Remove units"  %>
          <%= form.number_field :remove, :class=>'input form-control', placeholder: "0", type: "number", step: "0.1" %>
        </div>
      <div class="btn-toolbar" style="justify-content: center;" >
        <%= form.submit  class: "btn btn-success mb-3 "%>
      </div>
    <% end %>
    <div class="btn-toolbar" style="justify-content: center; display: flex;" > 
      <div class="btn-group gap-1" role="group">
        <%= button_to "Edit this food", "/foods/#{@food.id}/edit", method: :get, :class => "btn btn-secondary"%>
        <%= button_to "Remove this food", "/foods/#{@food.id}", method: :delete, :class => "btn btn-danger"%>
        <%= button_to "Back to foods", "/foods", method: :get, :class => "btn btn-warning"%>
      </div>
    </div>
    
    <%= button_to "History", "/foods/#{@food.id}/changes", method: :get, :class => "btn btn-success btn-lg w-100 mt-2"%>
  </div>
  


</div>

